.btn {
  @include remove-btn-style;
  display: flex;
  padding: 9px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  transition: all 150ms ease-in-out;
  min-width: 190px;

  &--sm {
    padding: 5px 15px;
    min-width: 100px;
  }

  &--wide {
    display: block;
    width: 100%;
    flex-grow: 1;
  }

  &--primary {
    background: map-get($colors, primary);
    color: #FFFFFF;
    outline: 2px solid map-get($colors, primary);

    &:hover, &:focus {
      background: #FFFFFF;
      color: map-get($colors, primary);

    }
  }

  &--danger {
    background: map-get($colors, danger);
    color: #FFFFFF;
    outline: 2px solid map-get($colors, danger);

    &:hover, &:focus {
      background: #FFFFFF;
      color: map-get($colors, danger);

    }
  }

  &--bg-light {
    background: #FFFFFF;
  }

  &--outline--primary {
    border: 2px solid map-get($colors, primary);
    color: map-get($colors, primary);

    &:hover, &:focus {
      background: map-get($colors, primary);
      color: #FFFFFF;
    }
  }

  &--outline--danger {
    border: 2px solid map-get($colors, danger);
    color: map-get($colors, danger);

    &:hover, &:focus {
      background: map-get($colors, danger);
      color: #FFFFFF;
    }
  }
}
