.comment {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-top: 16px;

  &__header {
    display: flex;
    flex-direction: row;
    gap: 22px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }

  &__moderation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;

    a {
      font-size: 0.9rem;

      &:hover {
        text-decoration: underline;
      }
    }

    .edit {
      color: #0030a9;
    }

    .remove {
      color: #a40101;
    }
  }

  &__author {
    font-family: $font-logo;
    font-size: 1.2em;
  }

  &__date {
    font-size: 0.85em;
    color: #6E6E6E;
  }

  &:not(:last-of-type) {
    &:after {
      display: block;
      content: '';
      background: #9a9a9a;
      height: 1px;
      width: 80%;
      margin: 1em auto;
    }
  }
}
