{% extends 'Admin/base.html.twig' %}

{% block js %}
    <script type="module" src="/assets/admin/js/user_form.js"></script>
{% endblock %}

{% block content %}
    <h2 class="text-base font-semibold leading-7 text-gray-900">Ajouter un utilisateur</h2>

    <form method="POST" action="#" enctype="multipart/form-data">
        {% include 'Admin/user/_form.html.twig' %}
    </form>
{% endblock %}
