html {
  scrollbar-gutter: stable;
}


body {
  @include mq($from: tablet) {
    font-size: 18px;
  }
  width: 100%;
  background-color: #EFEFEF;
  font-family: $font-default;
  font-size: 14px;
}


.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

p a {
  color: map-get($colors, primary);

  &:hover {
    text-decoration: underline;
  }
}
