html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}


body {
  @include mq($from: tablet) {
    font-size: 18px;
  }
  width: 100%;
  background-color: #EFEFEF;
  font-family: $font-default;
  font-size: 14px;
}

p {
  line-height: 1.4;
}


.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

p a {
  color: map-get($colors, primary);

  &:hover {
    text-decoration: underline;
  }
}

a.extended {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.hidden {
  display: none !important;
}
