<footer class="footer">
    <ul class="footer__container">
        <li>
            <a href="https://twitter.com/mr_verti" target="_blank">
                <!-- Twitter / X -->
                <svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" viewBox="0 0 88 88" fill="none">
                    <path d="M29.3333 7.33337H3.66663L33.9533 47.718L5.31663 80.6667H15.0333L38.456 53.7204L58.6666 80.6667H84.3333L52.7706 38.5807L79.9333 7.33337H70.2166L48.268 32.582L29.3333 7.33337ZM62.3333 73.3334L18.3333 14.6667H25.6666L69.6666 73.3334H62.3333Z"
                          fill="#EDFCFF"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://github.com/AurelienLab" target="_blank">
                <!-- Github -->
                <svg xmlns="http://www.w3.org/2000/svg" width="89" height="88" viewBox="0 0 89 88" fill="none">
                    <path d="M44.5 7.33337C39.6301 7.33337 34.8079 8.28179 30.3088 10.1245C25.8096 11.9671 21.7216 14.668 18.2781 18.0728C11.3236 24.9491 7.41663 34.2754 7.41663 44C7.41663 60.2067 18.0595 73.9567 32.7816 78.8334C34.6358 79.1267 35.2291 77.99 35.2291 77V70.8034C24.957 73.0034 22.7691 65.89 22.7691 65.89C21.0633 61.6367 18.6529 60.5 18.6529 60.5C15.2783 58.2267 18.9125 58.3 18.9125 58.3C22.6208 58.5567 24.5862 62.0767 24.5862 62.0767C27.8125 67.65 33.2637 66 35.3775 65.12C35.7112 62.7367 36.6754 61.1234 37.7137 60.2067C29.4812 59.29 20.8408 56.1367 20.8408 42.1667C20.8408 38.0967 22.25 34.8334 24.6604 32.23C24.2895 31.3134 22.9916 27.5 25.0312 22.55C25.0312 22.55 28.1462 21.56 35.2291 26.29C38.1587 25.4834 41.3479 25.08 44.5 25.08C47.652 25.08 50.8412 25.4834 53.7708 26.29C60.8537 21.56 63.9687 22.55 63.9687 22.55C66.0083 27.5 64.7104 31.3134 64.3395 32.23C66.75 34.8334 68.1591 38.0967 68.1591 42.1667C68.1591 56.1734 59.4816 59.2534 51.212 60.17C52.547 61.3067 53.7708 63.5434 53.7708 66.9534V77C53.7708 77.99 54.3641 79.1634 56.2554 78.8334C70.9775 73.92 81.5833 60.2067 81.5833 44C81.5833 39.1849 80.6241 34.4169 78.7605 29.9683C76.8969 25.5197 74.1653 21.4776 70.7218 18.0728C67.2783 14.668 63.1903 11.9671 58.6911 10.1245C54.192 8.28179 49.3698 7.33337 44.5 7.33337Z"
                          fill="#EDFCFF"/>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/aurelien-lorence/" target="_blank">
                <!-- Linkedin -->
                <svg xmlns="http://www.w3.org/2000/svg" width="91" height="90" viewBox="0 0 91 90" fill="none">
                    <g clip-path="url(#clip0_147_257)">
                        <path d="M0 6.44625C0 2.88563 2.99162 0 6.68281 0H84.3172C88.0084 0 91 2.88563 91 6.44625V83.5537C91 87.1144 88.0084 90 84.3172 90H6.68281C2.99162 90 0 87.1144 0 83.5537V6.44625ZM28.1133 75.3412V34.7006H14.4576V75.3412H28.1133ZM21.2883 29.1488C26.0487 29.1488 29.0119 26.0325 29.0119 22.1287C28.9266 18.1406 26.0544 15.1088 21.3793 15.1088C16.7042 15.1088 13.65 18.1462 13.65 22.1287C13.65 26.0325 16.6132 29.1488 21.1973 29.1488H21.2883ZM49.2026 75.3412V52.6444C49.2026 51.4294 49.2936 50.2144 49.6576 49.3481C50.6415 46.9237 52.8881 44.4094 56.6646 44.4094C61.607 44.4094 63.5806 48.1331 63.5806 53.6006V75.3412H77.2363V52.0312C77.2363 39.5438 70.5023 33.7388 61.516 33.7388C54.2701 33.7388 51.0226 37.6763 49.2026 40.4494V40.59H49.1116C49.1418 40.543 49.1721 40.4962 49.2026 40.4494V34.7006H35.5526C35.7232 38.5144 35.5526 75.3412 35.5526 75.3412H49.2026Z"
                              fill="#EDFCFF"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_147_257">
                            <rect width="91" height="90" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </li>
    </ul>
</footer>
