{% extends 'Admin/base.html.twig' %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script type="module" src="/assets/admin/js/article_form.js"></script>
{% endblock %}

{% block content %}
    <h2 class="text-base font-semibold leading-7 text-gray-900">Créer un article</h2>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">Remplissez ici les informations pour ajouter
        une catégorie d'article qui sera ensuite disponible dans la selection lors de l'ajout / edition.</p>

    <form method="POST" action="{{ route('admin.post.add.post') }}">
        {% include 'Admin/post/_form.html.twig' %}
    </form>
{% endblock %}
