.form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;

    &:has(input[required]),
    &:has(textarea[required]) {
      label:after {
        content: ' *'
      }
    }


    &:has(input:placeholder-shown),
    &:has(textarea:placeholder-shown) {
      label:not(.no-animation) {
        @include mq($from: tablet) {
          transform: translateX(10px) translateY(38px);
        }

        color: map-get($colors, primary);
        transform: translateX(10px) translateY(33px);
        opacity: 70%;
        cursor: text;
        font-size: 1em;
        line-height: 1.2em;
      }
    }

    label {
      color: #FFFFFF;
      transition: all 150ms ease-in-out;
      font-size: 1.1em;
      line-height: 1.1em;
    }

    input,
    textarea,
    select {
      font-family: $font-default;
      @include mq($from: tablet) {
        font-size: 1em;
      }

      transition: outline-color 100ms ease-in-out;

      outline: 3px solid transparent;

      &:focus {
        outline-color: map-get($colors, primary);
      }

      border: none;
      background: #FFF;
      box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.21);
      padding: 8px 10px;
      min-width: 200px;
      font-size: 1.2em;
    }

    textarea {
      font-family: inherit;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat 98%, linear-gradient(90deg, rgba(0, 0, 0, 0) 88%, map-get($colors, primary) 88%);
      padding-right: 2rem;
      cursor: pointer;
    }
  }

  &__error {
    color: #c00202;
    padding: 8px 5px 0 5px;
  }
}
