{% extends 'base-login.html.twig' %}

{% block content %}
    <main>
        <!-- SUBSCRIPTION FORM -->
        <section class="subscription">
            <div class="subscription__container">
                <h2 class="subscription__heading">Contact</h2>
                <div class="subscription__content">
                    <h3>Votre message a bien été envoyé ! ✉️</h3>
                    <p>Nous vous recontacterons rapidement.</p>
                    <p>À très vite !</p>
                    <a href="{{ route('homepage.index') }}" class="btn btn--outline--primary">Retour au blog</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
