{% extends 'base.html.twig' %}

{% block content %}

    <main class="career">
        <div class="hero hero--default">
            <div class="hero__overlay"></div>
            <img class="hero__image" src="/assets/images/hero-pattern.svg">
            <div class="hero__container">
                <h1 class="hero__title">Mon parcours</h1>
            </div>
        </div>

        <div class="career__content">
            <h2 class="heading heading--dark">Les débuts</h2>
            <p>
                Les débuts Mes premières réalisations web datent de mes années collège, où tout était un prétexte à
                faire un site. C'est donc vers 12 ans que j'ai commencé à mettre les mains dans le HTML/CSS, puis plus
                tard, le PHP.<br>
                C'était également l'occasion de découvrir le fonctionnement d'un serveur, récupérer des
                vieilles machines et y installer un serveur web à la maison.
            </p>
            <h2 class="heading heading--dark">La découverte de l'audiovisuel</h2>
            <p>
                C'est au lycée que ma passion s'est orientée vers l'audiovisuel. J'ai alors mis de côté la programmation
                informatique, pour me concentrer sur la technique du son. Cependant, l'informatique et le numérique
                n'étaient jamais loin.
            </p>
            <h2 class="heading heading--dark">Le retour aux sources</h2>
            <p>
                Après plusieurs années à travailler dans le spectacle et l'audiovisuel en général, j'ai intégré la
                <a href="https://www.c-lab.fr" target="_blank">radio C Lab</a> en tant que bénévole technique. Le
                côté associatif et système D m'ont amené à remettre les mains
                dans les lignes de code afin de développer des outils pour les bénévoles et l'équipe sur mon temps
                libre.
            </p>
            <p>
                Par la suite, je suis devenu technicien salarié de la structure, et le développement web a
                commencé à faire son retour dans mon quotidien. Après 4 ans, j'ai décidé de franchir le pas et de me
                reconvertir, de me former correctement au métier de développeur web pour consolider mes acquis et
                changer de métier.
            </p>

            <h2 class="heading heading--dark">La formation</h2>
            <p>
                Je me suis alors tourné vers OpenClassrooms pour pouvoir consolider mes connaissances et démarrer un
                nouveau métier.<br>
                Après une première formation dédiée au développement web, et plus particulièrement au
                front, j'ai débuté une seconde formation spécialisée dans le développement PHP/Symfony, en alternance
                cette fois-ci.<br>
                C'est donc au sein de l'agence <a href="https://www.difuse.net/" target="_blank">difuse</a> que je
                poursuis mon apprentissage en ce moment
                même et que je continue de développer mes compétences au quotidien.
            </p>
            <p>Si vous souhaitez en savoir plus:</p>
            <br>
            <a href="/downloads/alorence_cv_2024.pdf" download class="btn btn--primary">Consulter mon CV</a>
        </div>

    </main>

{% endblock %}
