<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mon super blog</title>

    <link rel="stylesheet" href="/style/main.css"/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% include 'partials/_header.html.twig' %}

{% block content %}
{% endblock %}

{% include 'partials/_footer.html.twig' %}
</body>
<script type="module" src="/assets/js/main.js?v=0.1"></script>
{% block js %}
{% endblock %}
</html>
