{% extends 'base.html.twig' %}

{% block content %}

    <main>
        <div class="hero hero--homepage">
            <div class="hero__overlay"></div>
            <img class="hero__image" src="/assets/images/hero-pattern.svg">
            <div class="hero__container">
                <h1 class="hero__title">Titre de l'article</h1>
            </div>
        </div>

    </main>

{% endblock %}
