{% extends 'base.html.twig' %}

{% block content %}

    <main class="post-show">
        <div class="hero hero--post">
            <div class="hero__overlay">
                {% if true %}
                    <img class="hero__image hero__image--foreground"
                         src="https://fastly.picsum.photos/id/1078/1900/700.jpg?hmac=1KxBlGtxPLCWtlxBId89hYMlR8sOsKosAv3_euAbXIw">
                {% else %}
                    <img class="hero__image" src="/assets/images/hero-pattern.svg">
                {% endif %}
            </div>

            <div class="hero__container">
                <p class="hero__category">Jeux Vidéo</p>
                <h1 class="hero__title">Titre de l'article</h1>
                <ul class="tag-list">
                    <li class="tag">Développement</li>
                    <li class="tag">JS</li>
                    <li class="tag">Nouveauté</li>
                    <li class="tag">Framework</li>
                </ul>
            </div>
        </div>

        <div class="post-show__content">
            <div class="post-show__content__header">
                <div class="post-show__author">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M26.1026 13.0513C26.1026 20.2593 20.2593 26.1026 13.0513 26.1026C5.84325 26.1026 0 20.2593 0 13.0513C0 5.84325 5.84325 0 13.0513 0C20.2593 0 26.1026 5.84325 26.1026 13.0513ZM16.3141 8.15705C16.3141 9.95906 14.8533 11.4199 13.0513 11.4199C11.2493 11.4199 9.78846 9.95906 9.78846 8.15705C9.78846 6.35504 11.2493 4.89423 13.0513 4.89423C14.8533 4.89423 16.3141 6.35504 16.3141 8.15705ZM13.0512 14.6827C9.75973 14.6827 6.92361 16.6322 5.63447 19.4394C7.42949 21.5216 10.0864 22.8397 13.0512 22.8397C16.016 22.8397 18.673 21.5217 20.468 19.4396C19.1789 16.6322 16.3427 14.6827 13.0512 14.6827Z"
                              fill="#4A5568"/>
                    </svg>
                    <span>Aurélien Lorence</span>
                </div>
                <ul class="post-show__extra-data">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"/>
                        </svg>

                        <span>10 commentaires</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"/>
                        </svg>
                        <span>Le 10 avril 2023 à 12h40</span>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25"/>
                        </svg>

                        <span>3min</span>
                    </li>
                </ul>
            </div>
            <div class="post-show__content__body">
                <p>A communi observantia non est recedendum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
                    Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.<br>
                    Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et
                    dolore.<br>
                    magna aliqua. Me non paenitet nullum festiviorem excogitasse ad hoc. Ambitioni dedisse scripsisse
                    iudicaretur. Unam incolunt Belgae, aliam Aquitani, tertiam. Morbi fringilla convallis sapien, id
                    pulvinar odio volutpat. A communi observantia non est recedendum.<br>
                </p>

                <img src="https://fastly.picsum.photos/id/831/800/600.jpg?hmac=gZEj_JtKQLuiAJ2ANiXQ2RGjoJTurwKDmBj5zM9b7xU">
                <p>
                    Phasellus laoreet lorem vel dolor tempus vehicula. Idque Caesaris facere voluntate liceret: sese
                    habere. Ab illo tempore, ab est sed immemorabili. Mercedem aut nummos unde unde extricat, amaras.
                    Praeterea iter est quasdam res quas ex communi.<br>
                    Ab illo tempore, ab est sed immemorabili. Cum sociis natoque penatibus et magnis dis parturient.
                    Quam diu etiam furor iste tuus nos eludet? Ut enim ad minim veniam, quis nostrud exercitation.
                    A communi observantia non est recedendum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
                    Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.
                </p>
            </div>
        </div>
    </main>

{% endblock %}
