{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <div class="hero hero--subscription">
            <div class="hero__overlay">
                <img class="hero__image" src="/assets/images/hero-pattern.svg">
            </div>

            <div class="hero__container">
                <h1 class="hero__title">Inscription</h1>
            </div>
        </div>

        <!-- CONTACT -->
        <section class="subscription">
            <div class="subscription__background">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 4 23 16" stroke-width="0.7"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"/>
                </svg>
            </div>
            <div class="subscription__container">
                <h2 class="subscription__heading">Me contacter</h2>
                <form class="form" method="get" action="#">
                    <div class="form__row">
                        <div class="form__field">
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" name="firstname" placeholder=" "/>
                        </div>
                        <div class="form__field">
                            <label for="lastname">Nom</label>
                            <input type="text" id="lastname" name="lastname" placeholder=" "/>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__field">
                            <label for="email">Adresse e-mail</label>
                            <input type="text" id="email" name="email" placeholder=" "/>
                        </div>
                    </div>
                    <div class="form__row">
                        <div class="form__field">
                            <label for="message">Votre message</label>
                            <textarea id="message" name="message" placeholder=" " rows="6"></textarea>
                        </div>
                    </div>
                    <div class="form__row subscription__submit">
                        <button type="submit" class="btn btn--bg-light btn--outline--primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
