{% extends 'email/email-base.html.twig' %}

{% block content %}
    <p>Bonjour - pseudo -,</p>
    <p>Alors comme ça on ne retrouve plus son mot de passe ?<br> Pas de panique, ça nous arrive aussi !</p>
    <p>
        Pour créer un nouveau mot de passe, cliquez sur le bouton ci-dessous
    </p>
    <p><a href="#" class="button center">Modifier mon mot de passe</a></p>
    <p>ou copiez le lien suivant dans votre navigateur préféré.</p>
    <code>
        https://monadresse.fr/email-verify?token=OIQjfqpeghmqkejflqjfbv654zeflqkj54dhvùoiDVHPUvpqhvqiufvhqpfdv
    </code>
    <p>
        A très bientôt sur mon blog !<br>
        Aurélien
    </p>
{% endblock %}
